<!DOCTYPE html>

<html>
<h2>Home Page</h2>
<div>
    <ul>
        <li>
            <a href="/Security/Level1">Security Level 1</a>
        </li>
        <li>
            <a href="/Security/Level2">Security Level 2</a>
        </li>
        <li>
            <a href="/Security/Level3">Security Level 3</a>
        </li>
        <li>
            <a href="/Security/Level4">Security Level 4</a>
        </li>
        <li>
            <a href="/Security/Level5">Security Level 5</a>
        </li>
        <li>
            <a href="/Security/Level6">Security Level 6</a>
        </li>
        <li>
            <a href="/Security/Level7">Security Level 7</a>
        </li>
        <li>
            <a href="/Security/Level8">Security Level 8</a>
        </li>
        <li>
            <a href="/Security/Level9">Security Level 9</a>
        </li>
        <li>
            <a href="/Security/Level10">Security Level 10</a>
        </li>
    </ul>
</div>
<div>
    <a href="/Account/Login">Login Page</a>
</div>
</html>