<!DOCTYPE html>

<html>
<head>
    <title>Weather Forcast Page</title>
</head>
<body>
<div>
    <h2>Weather Forcast Page</h2>
</div>
<div>
    <a href="/Home/Index">Home Page</a>
</div>
</body>
</html>