<!DOCTYPE html>

<html>
<head>
    <title>Access Denied</title>
</head>
<body>
<div>
    <h2>Access Denied!</h2>
    <div>
        <a href="/Home/Index">Home Page</a>
    </div>
    <div>
        <a href="/Account/Login">Login Page</a>
    </div>
</div>
</body>
</html>