<!DOCTYPE html>

<html>
<head>
    <title>Login Page</title>
</head>
<body>
<h2>Login Page</h2>
<form method="post">
    <div>
        <label>Security Level:</label>
        <select id="securityLevel" name="securityLevel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <div>
        <button type="submit" name="button" value="login">Login</button>
    </div>
</form>
</body>
</html>